p {
    font-size: 24px; 
}
button {
    font-size: 34px; 
    padding: 10px 20px; 
}

li {
    font-size:24x
}

/* p {
    font-size: 3vw; 
}

button {
    font-size: 3vw; 
    padding: 10px 20px; 
}

li {
    font-size: 3vw; 
} */

body, html {
    height: 100%;
    margin: 0;
  }

  
  .main-container {
    /* The image used */
    background-image: url('Images/Overlay-back.webp');
    
    /* Full height */
    height: 100%;
    width: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
    /* Use for the sliding effect */
    transition: transform 0.5s ease-in-out;
  
    /* Flexbox centering */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  
  .centered-container {
    width: 55%;
    padding: 10px;
    background-color: rgba(163, 194, 212, 0.8);
    /* padding: 30px; */
    border-radius: 20px;
    min-width: 750px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    flex-wrap: nowrap;
    min-height: 50%;
    /* margin: 50px; */
  }

img {
    max-width: 40%; 
    width: auto; 
}

@media {
    .centered-container {
        max-height: 50%; 
      }
    img {
        max-width: 100%; 
        width: auto; 
    }
}


  .button-container {
    margin-top: 10px; /* Adjusts the space between the text and the buttons */
    border-radius: 10px;
    /* opacity: 0.8; */
    background-color: rgba(248, 218, 136, 0.5);
    /* width: 80%; */
    padding-left: 0;
    padding-right: 0;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .nav-button-container {
      display: flex;
    justify-content: space-between; /* This will push the children to opposite ends */
    margin-top: 10px; /* Adjusts the space between the text and the buttons */
    border-radius: 10px;
    /* opacity: 0.8; */
    background-color: rgba(248, 218, 136, 0.5);
    /* width: 80%; */
    padding-left: 0;
    padding-right: 0;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  #title-div {
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    justify-content: center;
    align-items: center;
    text-align: center;
    /* top: 5%; */
    /* margin-bottom: 50px; */
    /* max-width: 80%; */
  }
  
  #abstract-div {
    width: 50%;
    text-align: justify;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    /* min-height: 60%; */
    padding: 0 20px 40px 20px;
    background-color: whitesmoke;
    border-radius: 10px;
    font-size: 16;
    margin: 50px;
  }

  #title {
    background-color: rgba(0, 132, 255, 0.5);
    color: whitesmoke;
    padding: 10px;
    /* width: 30%; */
    max-width: 600px;
    min-width: 600px;
    text-align: center;
    align-items: center;
    font-size: 50px;
    border-radius: 20px;
    width: 50%;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  h1 {
    margin-top: 0;
    font-size: 36px;
    font-family: 'Roboto';
    font-weight: bolder;
    /* background-color: rgba(0, 0, 0, 0);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */

  }

  .text-button {
    background: none;
    border: none;
    padding: 20px;
    /* margin: 10px; */
    font-size: 24px;
    cursor: pointer;
    text-decoration: none;
    color: inherit; /* Or set a specific color */
    font-family: 'Roboto';
    font-weight: lighter;
    border-radius: 10px;
    border: 1px;
    border-color: black;
    border-width: 1px;
    min-width: 200px;
    transition: 0.75s;

    /* min-height: 20%; */
  }
  
  .text-button:hover {
    /* text-decoration: underline; */
    /* background-color: rgba(255, 255, 255, 0.5); */
    border-bottom: 2px;
    background-color: rgba(248, 218, 136, 0.5);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .slide-up {
    transform: translateY(-100vh);
  }

  
  .back-button {
    visibility: hidden; /* Initially not visible */
    opacity: 0; /* Fully transparent */
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px 20px;
    font-size: 34px;
    cursor: pointer;
    background: none; /* No background */
    border: none; /* No border */
    color: inherit; /* Inherits text color from the body or could be set to a specific color */
    font-family: 'Trebuchet MS', sans-serif;
    text-decoration: none; /* No underline by default */
    z-index: 10; /* Ensure it's above other content */
    transition: opacity 0.5s ease, visibility 0.5s ease; /* Transition for opacity and visibility */
  }
  
  .back-button:hover {
    text-decoration: underline; /* Underline on hover */
  }
  
  /* Class to be added via JavaScript when we want the button to appear */
  .back-button-visible {
    visibility: visible; /* Make the button visible */
    opacity: 1; /* Fully opaque */
  }

  .overlay-text {
    display: none;
    visibility: hidden; /* Initially not visible */
    opacity: 0; /* Fully transparent */
    position: fixed;
    top: calc(10px + 20px + 48px);
    left: 0;
    right: 0; /* Ensure it spans the full width */
    bottom: 0; /* Ensure it spans the full height */
    overflow-y: auto; /* Enable vertical scrolling */
    padding: 20px; /* Adjust padding */
    font-size: 16px;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    z-index: 9;
    font-family: 'Trebuchet MS', sans-serif;
  }

  #overviewBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('Images/Overlay-back.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.3; /* Adjust this value for the desired opacity */
    z-index: -1; /* Ensure it's behind the text content */
  }
  
  /* Ensure the content of .overlay-text is on top of the background */
  .overlay-text > *:not(#overviewBackground) {
    position: relative;
    z-index: 1;
  }
  
  
  .overlay-text h2 {
    text-align: left; /* Keep headings aligned to the left */
    margin-left: 100px; /* Add some margin to align with the 'Back' button */
  }
  
  .overlay-text p {
    text-align: justify; /* Justify paragraphs for better readability, or use 'center' if preferred */
    margin: 0 auto; /* Center the paragraph within the container */
    width: 70%; 
    margin-bottom: 1em;
  }
  
  /* Class to be added via JavaScript when we want the text to appear */
  .overlay-text-visible {
    visibility: visible; /* Make the text visible */
    opacity: 1; /* Fully opaque */
  }

  .method-text {
    display: none;
    visibility: hidden; /* Initially not visible */
    opacity: 0; /* Fully transparent */
    position: fixed;
    top: calc(10px + 20px + 48px);
    left: 0;
    right: 0; /* Ensure it spans the full width */
    bottom: 0; /* Ensure it spans the full height */
    overflow-y: auto; /* Enable vertical scrolling */
    padding: 20px; /* Adjust padding */
    font-size: 16px;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    z-index: 9;
    font-family: 'Trebuchet MS', sans-serif;
    
  }
  #methodsBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('Images/Overlay-back.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.3; /* Adjust this value for the desired opacity */
    z-index: -1; /* Ensure it's behind the text content */
  }

  
  /* Ensure the content of .overlay-text is on top of the background */
  .method-text > *:not(#methodsBackground) {
    position: relative;
    z-index: 1;
  }
  
  
  .method-text h2 {
    text-align: left; /* Keep headings aligned to the left */
    margin-left: 100px; /* Add some margin to align with the 'Back' button */
  }
  
  .method-text p {
    text-align: justify; /* Justify paragraphs for better readability, or use 'center' if preferred */
    margin: 0 auto; /* Center the paragraph within the container */
    width: 70%; 
    margin-bottom: 1em;
  }

.method-text li {
    font-size: 24px;
    text-align: justify; /* Justify paragraphs for better readability, or use 'center' if preferred */
    margin: 0 auto; /* Center the paragraph within the container */
    width: 70%; 
    margin-bottom: 1em;
  }
  
  /* Class to be added via JavaScript when we want the text to appear */
  .method-text-visible {
    visibility: visible; /* Make the text visible */
    opacity: 1; /* Fully opaque */
  }

  .section-nav-button {
    position: absolute;
    bottom: 20px;
    padding: 10px 20px;
    font-size: 34px;
    cursor: pointer;
    background: transparent;
    border: none;
    color: inherit;
    font-family: 'Trebuchet MS', sans-serif;
    text-decoration: none;
    z-index: 10; /* Ensure it's above other content */
    transition: text-decoration 0.3s ease;
}

/* #toMethodsButton {
    right: 20px; 
    font-size: 34px;
}

#toOverviewButton {
    left: 20px; 
    font-size: 34px;
} */

#toMethodsButton, #toOverviewButton {
    position: absolute;
    bottom: 10px; /* Adjust as needed */
    font-size: 34px;
}

#toMethodsButton {
    right: 10px; /* Adjust as needed for spacing from the right edge */
}

#toOverviewButton {
    left: 10px; /* Adjust as needed for spacing from the left edge */
}


.section-nav-button:hover {
    text-decoration: underline;
}

#myDiv {
  width: 30%;
  margin-left: 350px;/* Optional: to center the div if that's desired */
}

#myDiv2 {
  width: 30%;
  margin-left: 350px;/* Optional: to center the div if that's desired */
} 


